<table cellpadding='10' cellspacing='0' border='0' width='100%'>
    <tbody>
        <tr>
            <td>
                <br/>
                <p style='
                    color:#898989;
                    margin: 15px 20px 15px 20px;
                    padding: 5px 20px 5px 20px;
                    font-family:Arial,Helvetica,sans-serif;
                    font-size:14px;
                '>
                Please verify your email address by clicking the link below:
                </p>
                <br/>
                <center>
                    <table cellpadding='0' cellspacing='0' border='0'>
                        <tr>
                            <td align="center" style="border-radius:20px/50%" bgcolor="#5fa439">
                                <a href='{{app-url}}userverify?code={{code}}'
                                   style="font-size:9pt; font-weight:bold; text-decoration:none; font-family:Arial,Helvetica, sans-serif; color:#ffffff;
                                   padding:11px 17px; border:0px solid #4c872e;display:inline-block" target="_blank">Verify Your Email Address
                                </a>
                            </td>
                        </tr>
                    </table>
                    <br/>
                    <p style='
                        color:#898989;
                        margin: 15px 10px 15px 10px;
                        padding: 5px 10px 5px 10px;
                        font-family:Arial,Helvetica,sans-serif;
                        font-size:14px;
                    '>
                        ...or copy and paste this line into your browser:
                    </p>
                    <p style='
                        font-family:Arial,Helvetica,sans-serif;
                        font-size:12px;
                        margin:  5px 10px 15px 10px;
                        padding: 5px 10px 5px 10px;
                    '>
                        {{app-url}}userverify?code={{code}}
                    </p>
                </center>
            </td>
        </tr>
<!--#SPACER--><tr><td>&#160;</td></tr><!--/SPACER-->
    </tbody>
</table>