img
png
jpg
gif
*~
/.htaccess
/service/.htaccess
/nbproject/*
/service/runtime/*
service/runtime/*
/service/runtime/application.log
service/runtime/application.log
/nbproject/private
/service/config/params-local.php
/uiconf.js
/service/node/*

/service/data/.DS_Store
.DS_Store
/service/runtime/application.log
/uiconf.js

/ui/images/uploadedPic/*
/ui/usercontent/*

/service/vendor
/service/composer.lock
