<div>
    <div style='padding:12px 0;'>
        <center style='color:#898989;'>
            {{#unsubscribe}}
            <a href='{{app-url}}unsubscribe?id={{unsubscribe_code}}&type={{recipient_type}}' style='
                font-family:Arial,Helvetica,sans-serif;
                font-size: 12px;
                color:#7a7a7a;
                text-decoration:none;
            '>Unsubscribe</a>
            &#160;&#160;&#160;|&#160;&#160;&#160;
            {{/unsubscribe}}
            <a href='mailto:support@flexscore.com?subject=Contact Request&body=Please contact me.' style='
                font-family:Arial,Helvetica,sans-serif;
                font-size: 12px;
                color:#7a7a7a;
                text-decoration:none;'>Contact Us</a>
            &#160;&#160;&#160;|&#160;&#160;&#160;
            <a href='{{app-url}}privacy' style='
                font-family:Arial,Helvetica,sans-serif;
                font-size: 12px;
                color:#7a7a7a;
                text-decoration:none;'>Privacy Policy</a>
            &#160;&#160;&#160;|&#160;&#160;&#160;
            <a href='{{app-url}}terms' style='
                font-family:Arial,Helvetica,sans-serif;
                font-size: 12px;
                color:#7a7a7a;
                text-decoration:none;'>Terms and Conditions</a>
        </center>
    </div>
    <div style='padding:10px 0px 10px 0px; margin:10px 0px 10px 0px;'>
        <center>
            <a href='https://facebook.com/flexscore' style='text-decoration:none;'>
                <img
                    width='32'
                    style='border:0;width:32px;'
                    title='Check out our Facebook Page'
                    src='{{img-url}}/ui/images/facebook.png'
                    alt='FlexScore Facebook Page'/>
            </a>&#160;&#160;
            <a href='https://twitter.com/flexscore' style='text-decoration:none;'>
                <img
                    width='32'
                    style='border:0;width:32px;'
                    title='Check out our Twitter Page'
                    src='{{img-url}}/ui/images/twitter.png'
                    alt='FlexScore Twitter Page'/>
            </a>&#160;&#160;
            <a href='https://plus.google.com/105392538218647163512' style='text-decoration:none;'>
                <img
                    width='32'
                    style='border:0;width:32px;'
                    title='Check out our Google+ Page'
                    src='{{img-url}}/ui/images/googleplus.jpg'
                    alt='FlexScore Google+ Page'/>
            </a>&#160;&#160;
            <a href='https://youtube.com/flexscoretv' style='text-decoration:none;'>
                <img
                    width='32'
                    style='border:0;width:32px;'
                    title='Check out our YouTube Channel'
                    src='{{img-url}}/ui/images/youtube.png'
                    alt='FlexScore YouTube Channel'/>
            </a>&#160;&#160;
            <a href='https://pinterest.com/flexscore' style='text-decoration:none;'>
                <img
                    width='32'
                    style='border:0;width:32px;'
                    title='Check out our Pinterest Page'
                    src='{{img-url}}/ui/images/pinterest.png'
                    alt='FlexScore Pinterest Page'/>
            </a>&#160;&#160;
            <a href='http://www.linkedin.com/company/3066612' style='text-decoration:none;'>
                <img
                    width='32'
                    style='border:0;width:32px;'
                    title='Check out our LinkedIn Page'
                    src='{{img-url}}/ui/images/linkedin.png'
                    alt='FlexScore LinkedIn Page'/>
            </a>
        </center>
    </div>
    <div>
        <center style='color:#898989; font-family:Arial,Helvetica,sans-serif; font-size: 12px;'>
            This message was sent to {{recipient}}.
            If you would like to update your email address, please <a href='{{app-url}}/' style='color:#5fa439;text-decoration:none;'>click here</a>.
            Visit <a href='{{app-url}}/' style='color:#5fa439;text-decoration:none;'>alert preferences</a> to manage your email and mobile alerts.
            Please add noreply@flexscore.com to your address book to ensure delivery of our emails to your inbox.
            Note: Never share your online banking or FlexScore passwords with anyone via email, including us!
        </center>
        <br/>
        <br/>
        <center style='font-family:Arial,Helvetica,sans-serif; font-size: 12px;'><b>FlexScore, Inc.</b> | 156 2nd Street | San Francisco, CA USA | 94105</center>
    </div>
</div>
