<p>
    <a href='{{app-url}}' style='display:block;text-decoration:none;'>
        <img src='{{img-url}}ui/images/fs_logo.jpg' style='
            display:block;
            margin:0 auto;
            outline:none;
            text-decoration:none;
            -ms-interpolation-mode:bicubic;'/>
    </a>
</p>
<h1 style='
    display:block;
    font-family:Arial,Helvetica,sans-serif;
    font-size:28px;
    margin:3px 0;
    color:#3E3E3E;
    line-height:1.2;
'>{{{subject}}}</h1>
<center style='
    font-family:Arial,Helvetica,sans-serif;
    font-size:14px;
    margin:6px 15px;
    text-align:center;
    color:#898989;
'>{{{intro}}}</center>
